* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: #572981;
  --second-bg-color: #572981;
  --text-color: #fff;
  --main-color: #fee46b;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 100%;
  animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial-content h2 {
  font-size: 2rem;
  font-weight: 700;
}
.tutorial-content h1 {
  color: #fee46b;
  font-size: 3.2rem;
  font-weight: 700;
}
@media (max-width: 991px) {
  .tutorial-content h2 {
    font-size: calc(14px);
    font-weight: 400;
  }
  .tutorial-content h1 {
    font-size: calc(14px);
    font-weight: 700;
  }
}
.Teksaniza {
  color: var(--main-color);
}
.shoop {
  color: var(--main-color);
}
.instagram {
  color: var(--main-color);
}
span {
  color: var(--main-color);
}

tr {
  font-size: 14px;
}
